/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
#squareCont{
    width: 100%;
}
.square{
    width: 50px;
    height: 50px;
    background-color: #1389b2;
}
.fizz{
    background-color: #0cd6a1;
}
.buzz{
    background-color: #ffd166;
}
.fizzbuzz{
    background-color: #f0466f;
}

/*****************************************************************/
/***************************** Media *****************************/
/**************************** Queries ****************************/
/*****************************************************************/
