/******************************************************************************/
/**************************** Variables definition ****************************/
/******************************************************************************/
:root{
    --square-per-row: 7;
    --square-dim: 110px;
}

/*****************************************************************/
/**************************** General ****************************/
/*****************************************************************/
#mainContainer{
    width: 100%;
    padding: 1rem;
    background-color: #083b4c;
}
#mainContainer h1{
    font-size: 4rem;
    padding: 3rem 0;
}
#squaresCont{
    width: 55%;
    height: 100%;
    margin: 0 auto;
}
.square{
    width: var(--square-dim);
    height: var(--square-dim);
    background-color: #1389b2;
    cursor: pointer;
    transition: 0.2s linear;
}
.square:hover{
    background-color: #17a0ce;
}
.fizz{
    background-color: #0cd6a1;
}
.fizz:hover{
    background-color: #0cd667;
}
.buzz{
    background-color: #ffd166;
}
.buzz:hover{
    background-color: #f3ba3f;
}
.fizzbuzz{
    background-color: #f0466f;
}
.fizzbuzz:hover{
    background-color: #e92250;
}

/*****************************************************************/
/***************************** Media *****************************/
/**************************** Queries ****************************/
/*****************************************************************/
